<div class="bg-dark">
  <h2 class="text-light p-4">My Projects</h2>
  <div class="row full-height">
    <div class="col-lg-6 col-md-6 mb-4" *ngFor="let project of projects">
      <mat-card class="project-card">
        <mat-card-header>
          <mat-card-title>{{ project.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe #projectIframe class="embed-responsive-item text-light" [src]="project.embedUrl"
              title="{{ project.title }}" frameborder="0" scrolling="no" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn btn-primary" mat-button>View Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <h1>
        will be adding more projects as soon as they're ready
      </h1>
    </div>
    <div class="footer">
      <a routerLink="/" class="btn btn-primary">Go Back</a>
    </div>
  </div>
</div>
