.profile-picture-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  filter: drop-shadow(0px 0px 10px rgba(255, 159, 67, 0.5));
}

.anime-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-circle {
  width: 80px;
  height: 80px;
  background-color: #f0f0f0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0 8px 16px rgba(255, 159, 67, 0.5);
}

// .technology-img img {
//   border-radius: 50%;
//   max-width: 100%;
//   height: auto;
//   max-height: 50px;
// }

// .technology-img {
//   width: fit-content;
// }

.technology-name {
  margin-top: 5px;
  color: #ff9f43;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.col {
  text-align: center;
}

.technology-icon {
  img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
}

.mat-tab-group-css {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 65vw;
}

.contact-info a {
  margin-right: 15px;
}

.custom-class-40 {
  width: 41px;
  height: 41px;
}

.phone-class {
  height: 34px;
  width: 34px;
  margin-top: 4px;
}

.anime-theme {
  font-family: "Arial", sans-serif;
  position: relative;
  overflow: hidden;
}

.anime-theme::before,
.anime-theme::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: -1;
}

.anime-theme::before {
  left: 0;
  background: linear-gradient(to right, black, transparent);
}

.anime-theme::after {
  right: 0;
  background: linear-gradient(to left, black, transparent);
}

.anime-theme:hover::before {
  animation: animeBackgroundLeft 10s infinite alternate-reverse;
}

.anime-theme:hover::after {
  animation: animeBackgroundRight 10s infinite alternate-reverse;
}

@keyframes animeBackgroundLeft {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10%);
  }
}

@keyframes animeBackgroundRight {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(10%);
  }
}

.anime-hero {
  background-color: #1f1f1f;
}

.anime-heading {
  font-size: 3rem;
  color: #ff9f43;
}

.anime-text {
  font-size: 1.2rem;
  color: #ffffff;
}

.anime-about {
  background-color: #ff9f43;
  width: 65vw;
  align-items: center;
  justify-content: center;
}

.anime-tab-group {
  background-color: #212121;
}

.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: #ff9f43;
  --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
  --mat-tab-header-pagination-icon-color: black;
  --mat-tab-header-inactive-label-text-color: white;
  --mat-tab-header-active-label-text-color: #ff9f43;
  --mat-tab-header-active-ripple-color: #ff9f43;
  --mat-tab-header-inactive-ripple-color: #ff9f43;
  --mat-tab-header-inactive-focus-label-text-color: #c09062;
  --mat-tab-header-inactive-hover-label-text-color: white;
  --mat-tab-header-active-focus-label-text-color: #ff9f43;
  --mat-tab-header-active-hover-label-text-color: #ff9f43;
  --mat-tab-header-active-focus-indicator-color: #ff9f43;
  --mat-tab-header-active-hover-indicator-color: #ff9f43;
}

.anime-footer {
  background-color: #ff9f43;
}

.anime-profile {
  border-radius: 50%;
}

.anime-btn {
  background-color: #ff9f43;
  border-color: #ff9f43;
}

.anime-btn:hover {
  background-color: #ff8000;
}

.scroll-up-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff9f43;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex; /* Use flexbox */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
}

.scroll-up-btn:hover {
  background-color: #ff8000;
}
