<!-- home.component.html -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />

<div body class="anime-theme" >
  <div class="hero bg-dark text-white py-5 anime-hero">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h1 class="anime-heading">Aaditya Jaiswal</h1>
          <p class="lead anime-text">I am a passionate developer showcasing my projects and skills.</p>
          <a routerLink="/projects" class="btn btn-primary anime-btn">View Projects</a>
        </div>
        <div class="col-md-4 text-center">
          <div class="profile-picture-container">
            <img src="assets\images\aadi_profile.jpeg" alt="Profile Picture" class="img-fluid anime-profile">
          </div>
        </div>
      </div>
    </div>
  </div>  

  <div class="about py-5 mx-auto bg-gradient anime-about">
    <div class="container bg-dark bg-gradient about py-5">
      <h2 class="anime-heading">About Me</h2>
      <p class="lead anime-text">I am an Angular developer with experience in building modern web applications. I enjoy
        solving complex problems and creating engaging user experiences.</p>
        <p class="lead anime-text">Here are some of the technologies I work with:</p>
      <div class="row justify-content-center">
        <div class="col-6 col-sm-3 mb-3" *ngFor="let technology of technologies">
          <div class="text-center d-flex align-items-center flex-column">
            <div class="rounded-circle technology-icon">
              <img [src]="technology.icon" [alt]="technology.name" class="img-fluid anime-profile">
            </div>
            <p class="anime-text technology-name">{{ technology.name }}</p>
          </div>
        </div>
      </div>      
    </div>
  </div>  
  
  <mat-tab-group class="about py-5 mat-tab-group-css anime-tab-group" dynamicHeight dynamicWidth>
    <mat-tab *ngFor="let tab of tabsContent" label="{{tab.label}}" class="anime-tab">
      <div class="container">
        <div class="tab-content py-5">
          <h2 class="anime-heading">{{ tab.label }}</h2>
          <p *ngFor="let paragraph of tab.content.split('\n')" class="anime-text">{{ paragraph }}</p>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="scroll-up-btn" *ngIf="showScrollUpButton" (click)="scrollToTop()">
    <fa-icon [icon]="['fas', 'arrow-up']"></fa-icon>
  </div>
</div>

<div footer class="anime-footer">
  <div class="contact bg-dark bg-gradient text-white py-5">
    <div class="container">
      <p class="lead anime-text">Have a project in mind or just want to say hello? Feel free to get in touch!</p>
      <h2 class="anime-heading">Contact Me</h2>
      <div class="d-flex contact-info">
        <a class="" *ngFor="let info of contactInfo" (click)="redirectTo(info.value)" target="_blank" style="cursor:pointer;">
          <img [src]="info.icon" [class.custom-class-40]="info.label === 'Linkedin' || info.label === 'Email'" [class.phone-class]="info.label === 'Phone'">
        </a>
      </div>
    </div>
  </div>
</div>
